
*{
  margin: 0;
  padding: 0;
}
.check_box {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color:#eee;
    word-wrap: break-word;
  }

  .check{
    margin-top: 0rem;
    margin-left: 4rem;
    width: 100%;
  }
  
  /* Hide the browser's default checkbox */
  .check_box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 6px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
  }

  .check_box:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .check_box input:checked ~ .checkmark {
    background-color: #2196F3;
    /* text-decoration: line-through; */
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .check_box input:checked ~ .checkmark:after {
    display: block;
    
  }
  
  /* Style the checkmark/indicator */
  .check_box .checkmark:after {
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .mc{
    width: 40px;
  }
  label{
    /* text-decoration: line-through; */
  }
 
  .check input[type=checkbox]:checked + label {
    color: #f00;
    font-style: normal;
  } 

 h5{
  width: 400px; 
 }

 @media only screen and(max-width:300px){

 }